.CombinationQuestion .question-text, .CombinationQuestion .question-description, .combination-format, .combination-format-question {
    display: inline !important;
}

.combination-format-question {

    margin-left: 5px;
    font-weight: bold;
    font-style: italic;
}

.combination-questions > li:first-child {

    margin-top:0px;
}

.combination-questions > li {

    margin-top:10px;
}

ul {

    margin-top: 10px;
}

.list-cmd-name {

    display: inline-block !important;
    width: 150px;
}

.list-cmd-desc {

    display: inline-block !important;
}

.list-cmd-desc:not(:empty):before {

    content: ' - ';
}

.echo-success {
    font-weight: bold;
    color: lightgreen;
}

.echo-fail {
    font-weight: bold;
    color: coral;
}

.choices .choice.selected {

}

.choice .position:after {

  content: '\00a0 \00a0-\00a0 \00a0';
}

.choice.selected {

    font-weight: bold;
}

.choice.selected .position:after {

  content: '\00a0 \00a0-->\00a0 \00a0';
}

li {
    list-style-type: none;
}
